<%- include('../components/header.ejs') %>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Frequently Asked Questions</h1>
    <div class="row-12">
      <% if (alert.message != '') { %>
        <div class="alert alert-<%= alert.status %>" role="alert">
          <%- alert.status == 'success' ?
          `<i class="fa fa-check-square mr-2"></i>`:  
          `<i class="fa fa-exclamation-triangle" ></i>`  
          %>
          <%= alert.message %>
          <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
      <% } %>
    </div>
    <!-- Tables -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 bg-gradient-login">
        <h6 class="m-0 font-weight-bold text-white">FAQ Gime</h6>
      </div>
      <div class="card-body">
        <div class="text-right mb-3">
          <button type="button" class="btn btn-info btn-sm btn-icon-split" data-toggle="modal" data-target="#createFaq">
            <span class="icon text-white-50">
              <i class="fas fa-plus-square"></i>
            </span>
            <span class="text">New Data</span>
          </button>
        </div>
        <div class="table-responsive">
          <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>No</th>
                <th>Question</th>
                <th>Answer</th>
              </tr>
            </thead>
            <tbody>
              <% for ( let i=0; i<faq.length; i++) {%>
                <tr>
                  <td>
                    <%= i+1 %>
                  </td>
                  <td>
                    <%= faq[i].question %>
                  </td>
                  <td>
                    <%- faq[i].answer %>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    Action: 
                    <button class="btn btn-info btn-circle btn-sm btn-edit" title="Edit" data-question="<%= faq[i].question %>"
                      data-answer="<%= faq[i].answer  %>" data-id="<%= faq[i]._id  %>">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-circle btn-sm btn-delete"title="Delete" data-id="<%= faq[i]._id %>">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->

  <!-- Modal Tambah -->
  <div class="modal fade" id="createFaq" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-info text-white
          <h5 class="modal-title" id="exampleModalLabel">Create FAQ</h5>
          <button type="button" class="close text-white data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/faq" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label class="font-weight-bold" for="question">Question</label>
              <input type="text" name="question" id="question" class="form-control" placeholder="Input question here.."
                autocomplete="off" />
            </div>
            <div class="form-group">
              <label class="font-weight-bold" for="answer">Answer</label>
              <!-- <textarea type="text" name="answer" id="answer" class="form-control"
                placeholder="Input your answer here.." autocomplete="off"></textarea> -->
              <Input type="hidden" name="answer" id="answerFaq">
              <trix-editor input="answerFaq" placeholder="Input answer.."></trix-editor>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Edit -->
  <div class="modal fade" id="updateFaq" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title" id="exampleModalLabel">Update FAQ</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/faq?_method=put" method="post">
          <div class="modal-body">
            <div class="form-group">
              <label class="font-weight-bold" for="question">Question</label>
              <input type="text" name="question" id="question" class="form-control question"
                placeholder="Input question here.." autocomplete="off" />
            </div>
            <div class="form-group">
              <label class="font-weight-bold" for="answer">Answer</label>
              <!-- <textarea type="text" name="answer" id="answer" class="form-control answer"
                placeholder="Input your answer here.." autocomplete="off"></textarea> -->
              <Input type="hidden" name="answer" id="updateAnswer">
              <trix-editor input="updateAnswer" class="answer" placeholder="Input answer.."></trix-editor>
            </div>
            <div class="form-grup">
              <input type="hidden" class="id-faq form-control" name="id">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-info">
              <i class="fa fa-save"></i>
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Hapus -->
  <div class="modal fade" id="deleteFaq" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h6 class="modal-title text-white">Confirm delete !</h6>
          <i type="button" class="text-white fa fa-times-circle" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <form method="POST" class="form-delete">
          <div class="modal-body">
            <h6>Are you sure for delete this data ?</h6>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-danger">
              Yes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Get Value of Modal FAQ to update -->
  <script>
    // edit data
    $('#dataTable').on('click', '.btn-edit', function () {
      $('#updateFaq').modal('show');
      let question = $(this).data('question');
      let answer = $(this).data('answer');
      let id = $(this).data('id');
      console.log(answer);
      $('.question').val(question);
      $('.answer').val(answer);
      $('.id-faq').val(id);
    });
    // hapus data
    $('#dataTable').on('click', '.btn-delete', function () {
      $('#deleteFaq').modal('show');
      let id = $(this).data('id');
      // console.log(id);
      let url = `/faq/${id}?_method=DELETE`;
      $('.form-delete').attr('action', url);
    });
    // timer
    $(document).ready(function(){
      const timerAlert = $('.alert').text();
      if (timerAlert !== ''){
        setTimeout(function(){
          $('.alert').fadeOut('slow');
        }, 3000);
      }
    });

    // trix editor
    $(document).ready(function(){
      $('#updateFaq').submit(function(event){
        const answerFaq = $('.answer').val();
        $('#updateAnswer').val(answerFaq);
      });
    });
  </script>
  <%- include('../components/bottom.ejs') %>