<%- include('../components/header.ejs') %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Game</h1>
        <div class="row-12">
            <% if (alert.message != '') { %>
                <div class="alert alert-<%= alert.status %>" role="alert">
                    <%- alert.status == 'success' ?
                `<i class="fa fa-check-square mr-2"></i>`:  
                `<i class="fa fa-exclamation-triangle" ></i>`  
                %>
                        <%= alert.message %>
                            <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                </div>
                <% } %>
        </div>
        <!-- Tables -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 bg-gradient-card">
                <h6 class="m-0 font-weight-bold text-white">Games Gime</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form action="/search-game" method="GET">
                            <div class="input-group input-group-sm shadow-sm mb-3">
                                <input type="text" class="form-control bg-light" placeholder="search game here.." name="search">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-primary" type="submit" id="searchGame"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span><span class="mx-1">Filter</span> 
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item fitler-item" type="button" data-filter="name" data-gameAll="<%= JSON.stringify(games) %>" id="nameGame">Nama A-Z</a>
                                        <a class="dropdown-item filter-item" type="button" data-filter="price" data-gameAll="<%= JSON.stringify(games) %>" id="priceGame">Price</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <div class="text-right mb-3">
                            <button type="button" class="btn btn-info btn-icon-split btn-sm" data-toggle="modal" data-target="#createGames">
                                <span class="icon text-white-50">
                                <i class="fas fa-plus-square"></i>
                                </span>
                                <span class="text">New Data</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-light">
                            <tr>
                                <th width="5%">No</th>
                                <th width="15%">Name</th>
                                <th width="10%">Price</th>
                                <th width="30%">Description</th>
                                <th width="15%">Cover</th>
                                <th width="5%">Trailer</th>
                                <th width="10%">Recomendation</th>
                                <th width="5%">On Sale</th>
                                <th width="5%">Free Game</th>
                                <th width="5%">Special Offer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i=0; i<games.length; i++) {%>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= games[i].name %>
                                    </td>
                                    <td>
                                        <%= games[i].price %>
                                    </td>
                                    <td>
                                        <%= games[i].description %>
                                    </td>
                                    <td>
                                        <img src="/images/<%= games[i].cover %>" width="150vh" alt="">
                                    </td>
                                    <td>
                                        <%= games[i].trailer %>
                                    </td>
                                    <td>
                                        <%= games[i].isRecommendation %>
                                    </td>
                                    <td>
                                        <%= games[i].isOnSale %>
                                    </td>
                                    <td>
                                        <%= games[i].isFreeGame %>
                                    </td>
                                    <td>
                                        <%= games[i].isSpecialOffer %>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11">
                                        Action:
                                        <button class="btn btn-info btn-sm btn-circle button-edit" title="edit" data-name="<%= games[i].name %>" data-price="<%= games[i].price %>" data-image="<%= games[i].cover %>" data-description="<%= games[i].description %>" data-trailer="<%= games[i].trailer %>"
                                            data-recommendation="<%= games[i].isRecommendation %>" data-onsale="<%= games[i].isOnSale %>" data-freegame="<%= games[i].isFreeGame %>" data-specialoffer="<%= games[i].isSpecialOffer %>" data-reqMemory="<%= games[i].specificationId.find(spec => spec.category === 'req' && spec.gameId.toString() === games[i]._id.toString()) ? games[i].specificationId.find(spec => spec.category === 'req' && spec.gameId.toString() === games[i]._id.toString()).memory : '' %>"
                                            data-minOS="<%= games[i].specificationId.find(spec => spec.category === 'min' && spec.gameId.toString() === games[i]._id.toString()) ? JSON.stringify(games[i].specificationId.find(spec => spec.category === 'min' && spec.gameId.toString() === games[i]._id.toString())) : '' %>">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm btn-circle button-delete mx-1" title="delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        <button class="btn btn-outline-info btn-sm btn-circle btn-spec" title="show specification">
                                            <i class="fas fa-gamepad"></i>
                                        </button>
                                        <button class="btn btn-outline-info btn-sm btn-circle show-detail" title="show detail" data-toggle="modal" data-target="#detailGames" data-name="<%= games[i].name %>" data-price="<%= games[i].price %>" data-image="<%= games[i].cover %>" data-description="<%= games[i].description %>"
                                            data-trailer="<%= games[i].trailer %>" data-recommendation="<%= games[i].isRecommendation %>" data-onsale="<%= games[i].isOnSale %>" data-freegame="<%= games[i].isFreeGame %>" data-specialoffer="<%= games[i].isSpecialOffer %>">
                                            <i class="fa fa-space-shuttle"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="specs-row" style="display: none;">
                                    <td colspan="4">
                                        <br>
                                        <label class="font-weight-bold" for="">Requirement:</label><br>
                                        <p class="font-weight-light"> Operating System :
                                            <%= reqSpecifications[i].os %>
                                        </p>
                                        <p class="font-weight-light"> Memory System :
                                            <%= reqSpecifications[i].memory %>
                                        </p>
                                        <p class="font-weight-light"> Graphic System :
                                            <%= reqSpecifications[i].graphic %>
                                        </p>
                                        <p class="font-weight-light"> Processor System :
                                            <%= reqSpecifications[i].processor %>
                                        </p>
                                    </td>
                                    <td colspan="7">
                                        <br>
                                        <label class="font-weight-bold" for="">Minimum:</label><br>
                                        <p class="font-weight-light"> Operating System :
                                            <%= minSpecifications[i].os %>
                                        </p>
                                        <p class="font-weight-light"> Memory System :
                                            <%= minSpecifications[i].memory %>
                                        </p>
                                        <p class="font-weight-light"> Graphic System :
                                            <%= minSpecifications[i].graphic %>
                                        </p>
                                        <p class="font-weight-light"> Processor System :
                                            <%= minSpecifications[i].processor %>
                                        </p>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Modal Edit -->
    <div class="modal fade" id="editGames" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Update Game</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/game?_method=put" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="font-weight-bold" for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control gamename" placeholder="Input name of game" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="price">Price</label>
                            <input type="number" name="price" id="price" class="form-control price" placeholder="Input price of game" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="description">Description</label>
                            <!-- <textarea type="text" name="description" id="description" class="form-control description"
                            placeholder="Input your description"></textarea> -->
                            <input type="hidden" name="description" id="descriptionGame" class="form-control">
                            <trix-editor input="descriptionGame" class="description-game" placeholder="Input your content here.."></trix-editor>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="image">Image</label>
                            <input type="file" name="image" id="imageGame" class="form-control image" />
                            <img class="preview-image mt-2" src="" id="previewImage" alt="Choose Image!" width="200vh">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="trailer">Trailer</label>
                            <input type="text" name="trailer" id="trailer" class="form-control trailer" placeholder="Url trailer" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="isRecommendation">Recommendation Game</label>
                                    <select name="isRecommendation" id="isRecommendation" class="form-control is-popular">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="isOnSale">On Sale Game</label>
                                    <select name="isOnSale" id="isOnSale" class="form-control is-onsale">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="isFreeGame">Free Game</label>
                                    <select name="isFreeGame" id="isFreeGame" class="form-control is-freegame">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="isSpecialOffer">Special Offer</label>
                                    <select name="isSpecialOffer" id="isSpecialOffer" class="form-control is-specialoffer">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <hr>
                            <h5 class="modal-title text-info">Specification for this Game</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="os">Req OS</label>
                                    <select name="req_os" id="os" class="form-control req-os">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="os">Min OS</label>
                                    <select name="min_os" id="os" class="form-control min-os">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="os">Req Memory</label>
                                    <select name="req_memory" id="os" class="form-control req-memory">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="os">Min Memory</label>
                                    <select name="min_memory" id="os" class="form-control min-memory">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="processor">Req Processor</label>
                                    <input type="text" name="req_processor" id="processor" class="form-control req-processor" placeholder="Input here.." />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="processor"> Min Processor</label>
                                    <input type="text" name="min_processor" id="processor" class="form-control min-processor" placeholder="Input here.." />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="graphic">Req Graphic</label>
                                    <input type="text" name="req_graphic" id="graphic" class="form-control req-graphic" placeholder="Input here.." />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="graphic">Min Graphic</label>
                                    <input type="text" name="min_graphic" id="graphic" class="form-control min-graphic" placeholder="Input here.." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-info">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Hapus -->
    <div class="modal fade" id="deleteGames" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h6 class="modal-title text-white">Confirm delete !</h6>
                    <i type="button" class="text-white fa fa-times-circle" data-dismiss="modal" aria-label="Close"></i>
                </div>
                <form method="POST" class="form-delete">
                    <div class="modal-body">
                        <h6>Are you sure for delete this data ?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-danger">
                    Yes
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Detail -->
    <div class="modal fade" id="detailGames" tabindex="-1" aria-labelledby="detailGamesLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-gradient-card">
                    <h6 class="modal-title text-white" id="detailGamesLabel">Detail Game</h6>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-fluid game-image mb-3" alt="Game Image" width="250vh">
                            </div>
                            <div class="col-md-8">
                                <h5 class="modal-title font-weight-bold game-name"></h5>
                                <p class="text-muted">Rp. <span class="game-price"></span></p>
                                <p class="game-description">Description:</p>
                                <p>Trailer: <span class="trailer-game"></span></p>
                                <hr>
                                <h5 class="modal-title">Game Specifications</h5>
                                <ul>
                                    <li>OS Requirement: Windows</li>
                                    <li>Minimum OS: Windows 10</li>
                                    <li>Memory Requirement: 8 GB</li>
                                    <li>Minimum Memory: 16 GB</li>
                                    <li>Processor Requirement: Intel Core i7</li>
                                    <li>Minimum Processor: Intel Core i5</li>
                                    <li>Graphics Requirement: NVIDIA GeForce GTX 1060</li>
                                    <li>Minimum Graphics: NVIDIA GeForce GTX 1050</li>
                                </ul>
                                <hr>
                                <p class="text-muted">Recommended Game: <span class="font-weight-bold re-commended"></span></p>
                                <p class="text-muted">On Sale: <span class="font-weight-bold on-sale"></span></p>
                                <p class="text-muted">Free Game: <span class="font-weight-bold free-game"></span></p>
                                <p class="text-muted">Special Offer: <span class="font-weight-bold special-offer"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Create -->
    <div class="modal fade" id="createGames" tabindex="-1" aria-labelledby="createGamesLabel">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Create Game</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/game" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="font-weight-bold" for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Input name of game" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="price">Price</label>
                            <input type="number" name="price" id="price" class="form-control" placeholder="Input price of game" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="description">Description</label>
                            <textarea type="text" name="description" id="description" class="form-control" placeholder="Input your description"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="image">Image</label>
                            <input type="file" name="image" id="imageGame" class="form-control" />
                            <img class="preview-image mt-2" src="" id="previewImage" alt="Choose Image!" width="200vh">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="trailer">Trailer</label>
                            <input type="text" name="trailer" id="trailer" class="form-control" placeholder="Url trailer" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="isRecommendation">Recommendation Game</label>
                                    <select name="isRecommendation" id="isRecommendation" class="form-control">
                                    <option value="">-Choose One-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="isOnSale">On Sale Game</label>
                                    <select name="isOnSale" id="isOnSale" class="form-control">
                                        <option value="">-Choose One-</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="isFreeGame">Free Game</label>
                                    <select name="isFreeGame" id="isFreeGame" class="form-control">
                                    <option value="">-Choose One-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="isSpecialOffer">Special Offer</label>
                                    <select name="isSpecialOffer" id="isSpecialOffer" class="form-control">
                                        <option value="">-Choose One-</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <hr>
                            <h5 class="modal-title text-info">Specification for this Game</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="os">Req OS</label>
                                    <select name="req_os" id="os" class="form-control">
                                    <option value="">-Choose One-</option>
                                    <option value="Window">Window</option>
                                    <option value="Linux">Linux</option>
                                    <option value="Macos">Mac OS</option>
                                    <option value="Unix">Unix</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="os">Min OS</label>
                                    <select name="min_os" id="os" class="form-control">
                                    <option value="">-Choose One-</option>
                                    <option value="Window">Window</option>
                                    <option value="Linux">Linux</option>
                                    <option value="Macos">Mac OS</option>
                                    <option value="Unix">Unix</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="os">Req Memory</label>
                                    <select name="req_memory" id="os" class="form-control">
                                    <option value="">-Choose One-</option>
                                    <option value="2gb">2 GB</option>
                                    <option value="4gb">4 GB</option>
                                    <option value="8gb">8 GB</option>
                                    <option value="16gb">16 GB</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="os">Min Memory</label>
                                    <select name="min_memory" id="os" class="form-control">
                                    <option value="">-Choose One-</option>
                                    <option value="2gb">2 GB</option>
                                    <option value="4gb">4 GB</option>
                                    <option value="8gb">8 GB</option>
                                    <option value="16gb">16 GB</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="processor">Req Processor</label>
                                    <input type="text" name="req_processor" id="processor" class="form-control" placeholder="ex: GT-Force" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="processor"> Min Processor</label>
                                    <input type="text" name="min_processor" id="processor" class="form-control" placeholder="ex: Intel Celeron" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="graphic">Req Graphic</label>
                                    <input type="text" name="req_graphic" id="graphic" class="form-control" placeholder="ex: NVIDIA Max" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="graphic">Min Graphic</label>
                                    <input type="text" name="min_graphic" id="graphic" class="form-control" placeholder="ex: AMD R4 Radeon" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-sm btn-info">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                        </div>
                </form>
                </div>
            </div>
        </div>
        <script>
            // create data
            $('#createGames').on('click', function() {
                let img = $(this).data('image');
                let imgUrl = "/images/" + img;
                $('.preview-image').attr('src', imgUrl);
            });
            // detail data
            $(document).ready(function() {
                $('#dataTable').on('click', '.btn-dtl', function() {
                    try {
                        $('#detailGames').modal('show');
                        console.log(m);
                    } catch (error) {
                        console.error('Error dalam menampilkan modal detail:', error);
                    }
                });
            });

            $('.btn-spec').click(function() {
                let row = $(this).closest('tr').next('.specs-row');
                row.toggle();
            });
            // edit data
            $('#dataTable').on('click', '.button-edit', function() {
                $('#editGames').modal('show');
                let name = $(this).data('name');
                let price = $(this).data('price');
                let desc = $(this).data('description');
                let cover = $(this).data('image');
                let trailer = $(this).data('trailer');
                // 
                let reCommendation = $(this).data('recommendation');
                let onSale = $(this).data('onsale');
                let freeGame = $(this).data('freegame');
                let specialOffer = $(this).data('specialoffer');
                // 
                let minSystem = $(this).data('minOS');
                let reqMemo = $(this).data('reqMemory');
                console.log(minSystem);
                console.log(reqMemo);
                // 
                let id = $(this).data('id');
                let imgUrl = "/images/" + cover;
                console.log(cover);
                // 
                $('.gamename').val(name);
                $('.price').val(price);
                $('.description-game').val(desc);
                // $('.image').val(cover);
                $('.preview-image').attr('src', imgUrl);
                $('.trailer').val(trailer);
                $('.id').val(id);
                // 
                let optionRecommend = `<option value="">-Choose One -</option>`;
                if (reCommendation) {
                    optionRecommend += `<option value="true" selected>True</option>`;
                    optionRecommend += `<option value="false">False</option>`;
                } else {
                    optionRecommend += `<option value="true">True</option>`;
                    optionRecommend += `<option value="false" selected>False</option>`;
                }
                $('.is-popular').html(optionRecommend);
                // 
                let optionOnSale = `<option value="">-Choose One -</option>`;
                if (onSale) {
                    optionOnSale += `<option value="true" selected>True</option>`;
                    optionOnSale += `<option value="false">False</option>`;
                } else {
                    optionOnSale += `<option value="true">True</option>`;
                    optionOnSale += `<option value="false" selected>False</option>`;
                }
                $('.is-onsale').html(optionOnSale);
                // 
                let optionFreeGame = `<option value="">-Choose One -</option>`;
                if (freeGame) {
                    optionFreeGame += `<option value="true" selected>True</option>`;
                    optionFreeGame += `<option value="false">False</option>`;
                } else {
                    optionFreeGame += `<option value="true">True</option>`;
                    optionFreeGame += `<option value="false" selected>False</option>`;
                }
                $('.is-freegame').html(optionFreeGame);
                // 
                let optionSpecialOffer = `<option value="">-Choose One -</option>`;
                if (specialOffer) {
                    optionSpecialOffer += `<option value="true" selected>True</option>`;
                    optionSpecialOffer += `<option value="false">False</option>`;
                } else {
                    optionSpecialOffer += `<option value="true">True</option>`;
                    optionSpecialOffer += `<option value="false" selected>False</option>`;
                }
                $('.is-specialoffer').html(optionSpecialOffer);

            });

            // delete data
            $('#dataTable').on('click', '.button-delete', function() {
                $('#deleteGames').modal('show');
                let id = $(this).data('id');
                let url = `/game/${id}?_method=DELETE`;
                $('.form-delete').attr('action', url);
            });

            // display detail game
            $('#dataTable').on('click', '.show-detail', function() {
                let name = $(this).data('name');
                let price = $(this).data('price');
                let desc = $(this).data('description');
                let imagePath = $(this).data('image');
                let trailer = $(this).data('trailer');
                let reCommendation = $(this).data('recommendation');
                let onSale = $(this).data('onsale');
                let freeGame = $(this).data('freegame');
                let specialOffer = $(this).data('specialoffer');
                $('.game-name').text(name);
                $('.game-price').text(price);
                $('.game-description').text(desc);
                $('.game-image').attr('src', `/images/${imagePath}`);
                $('.trailer-game').html(`<a href="${trailer}" target="_blank">Watch Video</a>`);
                if (reCommendation == true) {
                    $('.re-commended').html(`<i class="fa fa-check-square text-success"></i> Yes`);
                } else {
                    $('.re-commended').html(`<i class="fa fa-window-close text-danger"></i> No`);
                }
                if (onSale == true) {
                    $('.on-sale').html(`<i class="fa fa-check-square text-success"></i> Yes`);
                } else {
                    $('.on-sale').html(`<i class="fa fa-window-close text-danger"></i> No`);
                }
                if (freeGame == true) {
                    $('.free-game').html(`<i class="fa fa-check-square text-success"></i> Yes`);
                } else {
                    $('.free-game').html(`<i class="fa fa-window-close text-danger"></i> No`);
                }
                if (specialOffer == true) {
                    $('.special-offer').html(`<i class="fa fa-check-square text-success"></i> Yes`);
                } else {
                    $('.special-offer').html(`<i class="fa fa-window-close text-danger"></i> No`);
                }
            });

            // display image on edit data
            $('#imageGame').change(function(event) {
                const file = event.target.files[0]; // ambil target gambar setelah di pilih
                const reader = new FileReader(); // objek untuk membaca berkas gambar sebagai url data
                reader.onload = function(e) { // (e)= event listener untuk FileReader selesai membaca berkas
                    $('#previewImage').attr('src', e.target.result); // e.target.result : fungsi jqueury utk menetapkan target sebagai url
                };
                reader.readAsDataURL(file); // fungsi jquery utk membaca berkas gambar sebagai URL data
            });

            // timer
            $(document).ready(function() {
                const timerAlert = $('.alert').text();
                if (timerAlert !== '') {
                    setTimeout(function() {
                        $('.alert').fadeOut('slow');
                    }, 3000);
                }
            });

            // filter data
            let gameNames = [];
            let gamePrices = [];
            $(document).ready(function() {
                let dataGame = $(this).data('gameAll');
                console.log('ini data GAMEBOT', dataGame);
                $.each(dataGame, function(index, game) {
                    gameNames.push(game.name);
                    gamePrices.push(game.price);
                });

                $('.filter-item').click(function() {
                    var filterType = $(this).data('filter');
                    if (filterType === 'name') {
                        filterByName();
                    } else if (filterType === 'price') {
                        filterByPrice();
                    }
                });

                function filterByName() {
                    gameNames.sort();
                    console.log('Filter by Name', gameNames);
                }

                function filterByPrice() {
                    gamePrices.sort((a, b) => b - a);
                    console.log('Filter by Price', gamePrices);
                }
            });
            // trix editor
            $(document).ready(function() {
                $('#updateGames').submit(function(event) {
                    // Ambil nilai text dari Trix Editor
                    const gameDescription = $('.description-game').val();
                    // Masukkan nilai text ke dalam input tersembunyi
                    $('#descriptionGame').val(gameDescription);
                })
            });
        </script>
        <%- include('../components/bottom.ejs') %>